.body2{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/749813.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    width: 1500px;
    height: auto;
    padding: 0;
    align-items: center;
    background-color: #e2cfcf;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-left: 250px;

  }
  
  h2 {
    color: #000000;
    font-size: 24px;
    margin: 0;
  }
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
  }
  h1{
    color: #020101;
    font-size: 30px;
    margin: 100;
  }
  
  h8{
    color: #000000;
    font-size: 30px;
    margin: 100;
    font-family: 'Times New Roman', Times, serif;
  }
  